{% extends "app/layout.html" %}
{% block content %}
{% if form != None %}
<br><h2>Заполните анкету!</h2>
<div>
    <form method="post">
        {% csrf_token %}
        <label for={{ form.name.id_for_label }}>{{ form.name.label }}:</label><br>
        {{ form.name }}<br><br>
        <label for={{ form.msg.id_for_label }}>{{ form.msg.label }}:</label><br>
        {{ form.msg }}
        <br>
        <label for={{ form.rate.id_for_label }}>{{ form.rate.label }}:</label><br>
        {{ form.rate }}
        <br>
        <label for={{ form.ans.id_for_label }}>{{ form.ans.label }}:</label><br>
        {{form.ans }}
        <br>
        <label for={{ form.email.id_for_label }}>{{ form.email.label }}:</label><br>
        {{ form.email }}
        <input type="submit" value=" OK ">
    </form>
</div>
{% else %}
<br>
<h2>Спасибо!</h2>
<h3> Вы сообщили:</h3>
<ul>
    <li><span>Имя: </span> {{ data.name }}  </li>
    <li><span>Оценка: </span> {{ data.rate }} </li>
    <li><span>Вы сообщили:</span> {{ data.msg }} </li>
</ul>
{% endif %}
{% endblock %}
